body {
    font-family: Helvetica, sans-serif;
}

#messages {
    list-style: none;
    padding: 0;
}

#messages li {
    padding: 5px;
}

.user {
    font-weight: bold;
}

.user:after {
    content: ': ';
}

.self {
    background-color: #9db6d9;
}

.peer {
    background-color: #c0cad9;
}
